<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="well">
          This page allows you to manage your orders.
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="container">
      <div class="col-md-12 form-inline">
        <button class="btn btn-success" ng-click="add()"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign">&nbsp</span>Add</button>
        <select class="form-control" ng-options="set as set.title for set in vm.dataSets track by set.id" ng-model="vm.selectedSet" ng-change="datasetChanged()"></select>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="container">
      <div class="col-md-12 table-resoponsive">
        <table class="table table-striped table-condensed ng-cloak" ng-table="vm.tableParams" show-filter="true">
          <tbody>
            <tr ng-repeat="order in $data track by order.ordId">
              <td class="col-md-1" title="'Id'" filter="{'ordId': 'number'}" sortable="'ordId'">{{order.ordId}}</td>
              <td class="col-md-2" title="'Customer'" filter="{'customer.name': 'text'}" sortable="'customer.name'">{{order.customer.name}}</td>
              <td class="col-md-2" title="'Ref'" filter="{ref: 'text'}"  sortable="'ref'">{{order.ref}}</td>
              <td class="col-md-2" title="'Order Date'" sortable="'orderDate'">{{order.orderDate | date:'yyyy-MM-dd'}}</td>
              <td class="col-md-2" title="'Due Date'"  sortable="'dueDate'">{{order.dueDate | date:'yyyy-MM-dd'}}</td>
              <td class="col-md-1" title="'Status'" filter="{status: 'select'}" filter-data="vm.statuses" sortable="'status'">{{order.status}}</td>
              <td class="col-md-2" title="'&nbsp;'">
                <div ng-if="vm.selectedSet.id=='current'" class="btn-group">
                  <button class="btn btn-primary" ng-click="edit(order)" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span></button>
                  <button class="btn btn-danger" ng-click="remove(order)" title="Remove"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span></button>
                  <button class="btn btn-success" ng-click="archive(order)" title="Archive" ><span aria-hidden="true" class="glyphicon glyphicon-hdd"></span></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
