<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="well">
          This page allows you to manage your customers.
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="container">
      <div class="col-md-12">
        <button class="btn btn-success" ng-click="add()"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign">&nbsp</span>Add</button>
        <form name="searchCustomers" novalidate ng-submit="search(38)" ng-show="false">
          <input type="search" name="search" class="form-control form-control-inline" placeholder="Customer Name or ID"/>
          <button type="submit" class="btn btn-primary form-control form-control-inline"><span aria-hidden="true" class="glyphicon glyphicon-search" >&nbsp</span>Search</button>
          <button class="btn btn-primary form-control form-control-inline">Clear Results</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="container">
      <div class="col-md-12 table-resoponsive">
        <table class="table table-striped table-condensed" ng-table="vm.tableParams" show-filter="true" ng-cloak>
          <tbody>
            <tr ng-repeat="cust in $data track by cust.custId">
              <td class="col-md-1" title="'Id'" filter="{custId: 'number'}" sortable="'custId'">{{cust.custId}}</td>
              <td class="col-md-2" title="'Name'" filter="{name: 'text'}" sortable="'name'">{{cust.name}}</td>
              <td class="col-md-3" title="'Address'" filter="{address: 'text'}" sortable="'address'"><a href="http://maps.google.com/?q={{cust.address}}" target="_blank">{{cust.address}}</a></td>
              <td class="col-md-2" title="'Email'" filter="{email: 'text'}" sortable="'email'"><a href="mailto:{{cust.email}}">{{cust.email}}</a></td>
              <td class="col-md-1" title="'Phone'" filter="{phone: 'text'}" sortable="'phone'"><a href="tel:{{cust.phone}}">{{cust.phone}}</a></td>

              <td class="col-md-2">
                <div class="btn-group">
                  <button class="btn btn-primary" ng-click="update(cust)"><span aria-hidden="true" class="glyphicon glyphicon-info-sign">&nbsp;</span>Edit</button>
                  <button class="btn btn-danger" ng-click="remove(cust)"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign">&nbsp;</span>Remove</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
