@import "bootstrap";

.oms{
	.login{
		form{
			max-width: 330px;
			margin: auto;
		}
	}

	.form-control-inline{
		width: auto;
		display: inline-block;
	}
	.margin-bottom{
		margin-bottom: 20px;
	}
	.margin-top{
		margin-top: 20px;
	}
	.float-right{
		float: right;
	}
	.block{
		width: 100%;
	}

	.ui-select-match{
		span{
			border-radius: 4px 0 0 4px !important;
		}
	}

	input.ng-invalid.ng-touched,
	textarea.ng-invalid.ng-touched,
	select.ng-invalid.ng-touched{
		@extend .alert-danger;
	}
}
