<div class="modal-header">
	<h3 class="modal-title">Customer Details</h3>
</div>
<div class="modal-body">
	<tabset>
		<tab heading="Details">
			<customer-details></customer-details>
		</tab>
	<tab heading="Job Orders" ng-show="{{custDetailsCtrl.mode == 'update'}}" disable="{{custDetailsCtrl.customer.jobOrders == null}}">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-resoponsive" ng-cloak>
					<thead>
						<tr>
							<th>Job Number</th>
							<th>Description</th>
							<th>Order Date</th>
							<th>Due Date</th>
							<th>Total Price</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="job in custDetailsCtrl.customer.jobOrders">
							<td>{{job.id}}</td>
							<td>Se koles cos tam zarzyczyl i myslal ze mu to na czas zrobie, debil jeden</td>
							<td>{{job.orderDate}}</td>
							<td>{{job.dueDate}}</td>
							<td>€{{job.total}}</td>
							<td><button class="btn btn-primary block">Details</button>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</tab>
	</tabset>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="custDetailsCtrl.update()" ng-show="{{custDetailsCtrl.mode == 'update'}}">Update</button>
	<button class="btn btn-success" ng-click="custDetailsCtrl.add()" ng-show="{{custDetailsCtrl.mode == 'addnew'}}">Add New</button>
    <button class="btn btn-danger" ng-click="custDetailsCtrl.dismiss()">Cancel</button>
</div>
