<div class="row margin-top">
  <div class="col-md-6" >
    <input type="text" class="form-control margin-bottom"placeholder="Name" ng-model="$scope.customer.name">
    <input type="email" class="form-control margin-bottom"placeholder="Email" ng-model="$scope.customer.email">
    <input type="tel" class="form-control"placeholder="Phone" ng-model="$scope.customer.phone">
  </div>
  <div class="col-md-6">
    <textarea class="form-control" style="resize:none" rows=5 placeholder="Address" ng-model="$scope.customer.address"></textarea>
  </div>
</div>
