<table class="table table-hover table-bordered table-resoponsive">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Address</th>
			<th>Contact</th>
			<th>&nbsp</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cust in customersCtrl.customers" ng-show="cust">
			<td class="col-md-1">{{cust.id}}</td>
			<td class="col-md-3">{{cust.name}}</td>
			<td class="col-md-4">
				{{cust.address}}
				<!--<p ng-repeat="item in cust.address.split(',')">{{item}}</p>-->
			</td>
			<td class="col-md-3">{{cust.contact}}</td>
			<td class="col-md-1">
				<button class="btn btn-danger" ng-click="customersCtrl.remove(cust)"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign">&nbsp</span>Remove</button>
			</td>
		</tr>
	</tbody>
</table>