<!DOCTYPE html>
<html ng-app="oms">
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OMS</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
		          	<a class="navbar-brand" href="/">OMS</a>
				</div>
				{% block menu %}{% endblock %}
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	    <script type="text/javascript" src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
	    <script type="text/javascript" src="js/app.js"></script>
	    <script type="text/javascript" src="js/oms-customers.js"></script>
	</body>
</html>
