{% extends 'layout.html' %}

{% block menu %}
{% include 'nav-items.html' %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row margin-bottom">
		<div class="well">
			This page allows you to manage your customers.
		</div>
	</div>
	<div class="row margin-bottom">
		<div class="col-md-1">
			<button class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign">&nbsp</span>Add</button>
		</div>
		<div class="col-md-5 col-md-offset-6">
			<div class="float-right">
				<input type="text" class="form-control form-control-inline" placeholder="Customer Name or ID"/>
				<button class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-search">&nbsp</span>Search</button>
				<button class="btn btn-primary">Clear Results</button>	
			</div>
		</div>
	</div>
	<div class="row margin-bottom">
		<div class="container">
			<div class="col-md-12">
				<customers-list></customers-list>
			</div>
		</div>
	</div>
</div>
{% endblock %}





<div class="row">
	
	<form>
		<div class="col-md-6 col-md-offset-6">
			<input type="text" placeholder="Customer Name"/>
			<button class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-search">&nbsp</span>Search</button>
			<button class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-search">&nbsp</span>Clear Search</button>
			<button class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign">&nbsp</span>Add</button>
		</div>
		<!--<button class="form-control btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Add New</button>-->
	</form>
	<h3>Customers</h3>
	<customers-list></customers-list>
</div>